:root {
    --tileSize: calc((50vw / 3) - 1vw - 6px);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: 'forcedsquare';
    src: url('https://nikuwebdeveloper.com/font/forcedsquare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vcrmono';
    src: url('https://nikuwebdeveloper.com/font/vcrmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-family: 'forcedsquare', sans-serif;
    background-color: gold;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: initial;
}

li {
    list-style: none;
}

h2 {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: left;
    line-height: 1.1;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10rem auto;
}

header {
    margin-top: 10vw;
}

footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25rem;
}

#top {
    position: absolute;
    top: 0;
}


#button-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#button-top>p {
    margin: auto;
    text-align: center;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.tile {
    display: flex;
    width: var(--tileSize);
    height: var(--tileSize);
    background-color: white;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
}

.tile>* {
    z-index: 1;
    position: relative;
}

.tile:hover::before {
    filter: unset;
}

.tile:hover>h2 {
    display: none;
}

.tile-group {
    display: flex;
    flex-wrap: wrap;
    width: 49vw;
    margin: 0 auto;
    gap: 1vw;
}

.tile::before {
    content: "";
    /*Ensures the pseudo-element is created */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    filter: grayscale(70%) blur(3px) opacity(30%);
    z-index: 0;
    transition: filter 0.1s ease-in-out;
}

#corpus-christi-catholic-church::before {
    background: url('image/tile/corpus-christi-catholic-church-thumb.jpg') no-repeat center center / cover;
}

#our-lady-of-lourdes-catholic-church::before {
    background: url('image/tile/our-lady-of-lourdes-catholic-church-thumb.jpg') no-repeat center center / cover;
}

#our-lady-of-confidence-carmelite-monastery::before {
    background: url('image/tile/our-lady-of-confidence-carmelite-monastery-thumb.jpg') no-repeat center center / cover;
}

#moptec::before {
    background: url('image/tile/moptec-thumb.jpg') no-repeat center center / cover;
}

#github::before {
    background: url('image/tile/github-thumb.jpg') no-repeat center center / cover;
}


#moptec {
    transition: background-color 0.1s;
}

#moptec:hover {
    cursor: default;
    background-color: black;
}

#moptec:hover::before {
    filter: grayscale(70%) blur(3px) opacity(30%);
}

#moptec>h2 {
    color: black;
    transition: color 0.1s;
}

#moptec:hover>h2 {
    display: block;
    color: white;
}

#logo {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: 100;
    font-family: 'vcrmono';
    width: 49vw;
    margin: auto;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}


#meat {
    padding-bottom: 0.5rem;
    width: 6rem;
    height: auto;
}

@media only screen and (max-width: 768px) {}