@font-face {
    font-family: 'pixelFont';
    src: url('https://nikuwebdeveloper.com/font/GenericMobileSystem.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pixelFont {
    font-family: 'pixelFont', sans-serif;
}

/* <link href="https://nikuwebdeveloper.com/test.css" rel="stylesheet"> */